
<%- include("../partials/header") %>


<header class="jumbotron">
        <div class="container">
            <h1>Our Campgrounds</h1>
            <p>View our hand-picked campgrounds from around the world. Register to become a member and add your own campgrounds. You can also sign up for free email updates.</p>
            <p><a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add New Campground &raquo;</a></p>
            <p>
                <form action="/campgrounds" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Search campgrounds..." id="" class="form-control">
                        <input type="submit" value="Search" class="btn btn-default">
                    </div>
                </form>
            </p>
        </div>
    </header>
        
    
    <!-- <div class="row" style="display: flex; flex-wrap: wrap;"> -->
    <div class="row">
        <% campgrounds.forEach( campground => { %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.name %></h5>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View details</a>
                    </div>
                  </div>
            </div>
        <% }); %>
    </div>


<%- include("../partials/footer") %>
        